.jurado {

  ion-card {

    margin-top: 100px;
    overflow: visible;

    ion-card-content {

      background-color: map-get($colors, madera);
      color: #FFFFFF;
      text-align: center;
      padding-bottom: 28px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-top: -100px;
        border: solid 4px #FFFFFF;
        //display: inline;
      }

      h2 {
        font-size: 3.5rem;
        margin-top: .5rem;
        color: white;
      }

      h3 {
        font-size: 1.8rem;
        color: white;
      }

                   p:first-letter {
                text-transform: uppercase;
            }

            p {
                padding: 5px;
                color: #ffffff;
                font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
                letter-spacing: 0em;
                text-align: left ;
                margin: 20px auto;
                text-transform: lowercase;
                line-height: 100%;
                font-size: 12pt;
                font-variant: small-caps;
            }

    }

  }

}
